# Ignore Perforce-related files
.p4*

# Ignore macOS-specific system files
.DS_Store
.AppleDouble

# Ignore local Conda environments and virtual environments
.conda/
.env
.venv/
env/
!env/.gitkeep

# Ignore Python bytecode and Jupyter checkpoints
*.pyc
__pycache__/
.ipynb_checkpoints/

# Ignore build artifacts
build/

# Ignore Docker-related artifacts
*.log
*.pid
